HERMES_COMMIT=c23a87bc163b188abc7e40fbdccf07a9739231c3

TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=
TELEGRAM_HOME_CHANNEL=
TELEGRAM_HOME_CHANNEL_NAME=
HERMES_HUMAN_DELAY_MODE=natural
HERMES_ACCEPT_HOOKS=1
